@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "master.cshtml";
}

<!-- Blog item query -->
    @{
        var selection = Umbraco.Content(Guid.Parse("5327aa6f-255b-415a-a1ec-3751fa807b75"))
        .ChildrenOfType("articlesItem")
        .Where(x => x.IsVisible())
        .OrderBy(x => x.CreateDate);
    }

<div class="p-2 bg-dark text-white rounded">
    <h1>@Model.Value("title")</h1>
    <h4>@Model.Value("mainContent")</h4>

    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <h3>Lastest posts</h3>
                
                @foreach (var item in selection)
                {
                    <div class="p-3 text-primary-emphasis bg-success-subtle border border-secondary rounded-2">

                    <li class="list-group-item pl-5">
                        <a href="@item.Url()">@item.Value("title")</a>
                        <p> @item.CreateDate </p>
                    </li>
                    </div>
                    <br>
                } 
            </ul>
       </div>
    </div>
</div>