@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "master.cshtml";
}

@{
	var speakers = Model.Value<IEnumerable<BlockListItem>>("speakers").Select(x => x.Content);
}

<div class="row">
    <div class="col-md-6">
		<div class="p-2 bg-success-subtle text-dark rounded p-3">
			<h1>@Model.Value("eventTitle")</h1>
			<h4>@Model.Value("eventDescription")</h4>
			<h6>Date: </h6> @Model.Value("eventDate")
			<hr class="hr" />

			<!-- Event location -->
			<h3>Location </h3>
			@{
				IPublishedContent location = Model.Value<IPublishedContent>("location");
		
				if (location!=null)
				{
					<p>
					@location.Name (@location.Value("building")) - 
					@location.Value("address") ,
					@location.Value("postCode") @location.Value("city")
					</p>					
				}
			}
			<hr class="hr" />

			<!-- Speaker of event -->
			<h3>Speakers </h3>
			@if (speakers != null)
			{
				foreach (var speaker in speakers)
				{
					<h5>@speaker.Value("firstName") @speaker.Value("lastName") </h5> 
					<h6>Bio: </h6>  @speaker.Value("speakerBio")
				}
			}
		</div>
	</div>
</div>